.container {
	position: relative;
}

.nav {
	float: left;
	width: 200px;
	height: 100%;
	clear: left;
	top: 150px;
	display: inline;
	position: relative;
}

.header {
	color: #81c341;
	background: #143866 scroll;
	position: fixed;
	float: none;
	width: 100%;
	height: 145px;
	top: 0;
	text-align: center;
	font: small-caps xx-large Copperplate;
	vertical-align: middle;
}

.header h2 {
	height: auto;
	width: 100%;
	position: inline-block;
  
}

.header img {
	float: left;
	top: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.footer {
	color: #81c341;
	background: #143866 scroll;
	position: absolute;
	float: none;
	width: 100%;
	height: 50px;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	font: small-caps 18pt 1px , Copperplate;
	margin-top: 12px;
	clear: both;
}

.phone {
	background-color: #143866;
	color: #81c341;
	font-family: Copperplate;
	top: 10px;
	right: 20px;
	display: block;
	clear: left;
	position: absolute;
	width: 55px;
	height: 55px;
	z-index: 8;
}

.phone img {
	top: 0px;
	float: right;
}

.phone a {
	color: #81c341;
	font: 12pt Copperplate;
	vertical-align: middle;
	margin-top: 12px;
	text-decoration: none;
	text-align: right;
	padding-left: 4px;
	padding-right: 4px;
}

/**.phone #wrapper .text {
	position: relative;
	bottom: 48px;
	left: -105px;
	visibility: hidden;
	width: 220px;
}
.phone #wrapper:hover .text {
	visibility: visible;
}**/
.email {
	color: #81c341;
	text-align: left;
	font-family: Copperplate;
	top: 65px;
	right: 20px;
	display: block;
	clear: right;
	position: absolute;
	width: 55px;
	height: 55px;
	z-index: 8;
}
.email img {
	top: 0px;
	float: right;
}

.chart {
	margin-top: 50px;
	margin-left: 25px;
	margin-right: 25px;
	clear: both;
}

.email a {
	color: #81c341;
	font: 12pt Copperplate;
	vertical-align: middle;
	margin-top: 12px;
	text-decoration: none;
	text-align: right;
	padding-left: 8px;
	padding-right: 4px;
}

.contact {
	color: #81c341;
	font: normal 10pt Copperplate;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}
.contact a{
	color: #81c341;
	font: normal 10pt Copperplate;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}
#wrapper .text {
	position: absolute;
	float: left;
	bottom: 5px;
	left: -225px;
	visibility: hidden;
	width: 225px;
	text-align: middle;
	vertical-align: middle;
}
#wrapper:hover .text {
	visibility: visible;
}

body {
	color: #81c341;
	font-family: Copperplate;
	margin-bottom: 51px;
}
.Main {
	position: relative;
	clear: both;
	top: 160px;
	left: 25px;
	height:  90%%;
	width: 90%;
	margin-bottom: 52px;
	margin-right: 52px;
}

.live {
	width: 200px;
	height: 100px;
	clear: left;
	float: right;
	display: inline;
}
