doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title
            | StrongLoop IoT Demo
        link(href="styles/base.css", rel="stylesheet", type="text/css")
        
        block head
                
    body
        block content

        block footer
            footer
                p.copyright
                    | &copy; 2016 StrongLoop, an IBM Company: Developed by <a href ="http://dragonflyiot.com" target="_blank">Dragonfly IoT</a>
</div>
