nav
    a(href='/') Home
    //- a(href='/sensors/all') All Sensors
    a(href='/sensors/gyroscope') Gyroscope
    a(href='/sensors/accelerometer') Accelerometer
    a(href='/sensors/magnetometer') Magnetometer
    a.last(href='/sensors/temperature') Temperature